{% extends 'base.html' %}
{% block content %}

<h1>Search</h1>

{% for result in results %}

<div class="card">
    <div class="card-content">
        <div class="search_tile">
            <div class="thumbnail">
                <img src="{{result.image}}" alt="{{result.title}}">
            </div>
            <div class="search_result">
                <span class="card-title">{{ result.title }}</span>
                <br>
                <form action="{% url 'result_detail' result.id %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" class="btn" value="Click for Details">
                </form>
    
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}