{% extends 'base.html' %}
{% block content %}

<h1>Movies I Want to Watch</h1>

{% for movie in movies%}
<div class="card card-container">
    <img src="{{movie.image}}" alt="{{movie.title}}">
    <div class="card-content">
        <a href="{% url 'detail' movie.id %}">Click for more details</a>
        <span class="card-title">{{ movie.full_title }}</span>
        <p>Release Date: {{ movie.release_date }}</p>
        <p>Length: {{ movie.runt }}</p>
        <p>Director: {{ movie.director }}</p>
        <p>Plot: {{ movie.plot }}</p>
        <p>Stars: {{ movie.stars }}</p>
        <br>
        <form action="{% url 'unassoc_want_user' movie.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" class="btn" value="Delete">
        </form>
    </div>
</div>


{% endfor %}

{% endblock %}

