{% extends 'base.html' %}
{% block content %}

<h1>Movie Detail</h1>

    <div class="poster">
        <img src="{{movie.image}}">
    </div>
    <div id="show-page">
        <div class="card-content">
            <span class="card-title">{{ movie.full_title }}</span>
            <p>Release Date: {{ movie.release_date }}</p>
            <p>Length: {{ movie.runt }}</p>
            <p>Director: {{ movie.director }}</p>
            <p>Plot: {{ movie.plot }}</p>
            <p>Stars: {{ movie.stars }}</p>
        </div>
    </div>

{% endblock %}